.card__container {
  overflow: hidden;
  background-color: var(--container-color);
  border-radius: var(--border-radius);
  position: relative;
  box-shadow: var(--shadow);
}

.card__mask {
  background: #6c6ce5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  opacity: 0;
}

.card__category {
  color: #fff;
  background-color: var(--first-color);
  border-bottom-left-radius: 0.98rem;
  border-bottom-right-radius: 0.98rem;
  position: absolute;
  top: 0;
  left: 1.5rem;
  font-size: var(--small-font-size);
  display: inline-block;
  padding: 0.19rem 0.625rem;
  transform: translateY(-40px);
  transition: 0.3s;
}

.card__title {
  color: #fff;
  font-size: var(--h2-font-size);
  margin: 0 0 0.98rem;
  padding: 0 1.25rem;
  position: absolute;
  top: 3.75rem;
  transform: translateY(30px);
  transition: 0.3s;
  opacity: 0;
  text-shadow: 2px 2px 4px var(--title-color);
}

.card__button {
  color: #fff;
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
  font-size: var(--h3-font-size);
  display: block;
  background-color: #ffd15c;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  transition: 0.3s;
  opacity: 0;
}

.card__techs {
  position: absolute;
  bottom: 5rem;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: #fff;
  font-size: var(--h3-font-size);
}

.card__btns {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  padding: 1rem;
  justify-content: space-around;
}

.card__container:hover .card__mask {
  opacity: 0.75;
}

.card__container:hover .card__button {
  opacity: 1;
}

.card__container:hover .card__title,
.card__container:hover .card__category {
  opacity: 1;
  transform: translateY(0);
}
