.filter__container {
  display: flex;
  align-items: center;
  gap: 1.875rem;
  margin-bottom: 2.5rem;
}

.filter__item {
  cursor: pointer;
  font-weight: var(--font-bold);
}

.filter__item:hover {
  color: var(--first-color);
}
