.nav__logo {
  width: 5rem;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.nav__logo path {
  stroke: var(--title-color);
  stroke-width: 4;
}

@media screen and (max-width: 767px) {
  .nav__logo {
    width: 10vw;
  }
}

@media screen and (max-width: 434px) {
  .nav__logo {
    width: 15vw;
  }
}
