.projects .repo__container .card__title {
  top: 2.25rem;
}

.projects .repo__container .card__mask {
  opacity: 0.75;
}

.projects .repo__container .card__button {
  opacity: 1;
}

.projects .repo__container .card__title,
.projects .repo__container .card__category {
  opacity: 1;
  transform: translateY(0);
}

.projects .card__container:hover .card__title {
  top: 0;
}

.projects .card__container:hover .card__mask,
.projects .card__container:hover .card__techs {
  opacity: 0;
}

.projects .card__container:hover .card__title,
.projects .card__container:hover .card__category {
  opacity: 0;
  transform: translateY(0);
}
