.about__boxes {
  grid-template-columns: repeat(4, 1fr);
  gap: 1.875rem;
  margin-top: 4.35rem;
}

.about__box {
  display: flex;
  column-gap: 1.5rem;
}

.about__box svg {
  font-size: var(--h1-font-size);
  color: #dedeea;
}

.about__title {
  font-size: 1.875rem;
}

@media screen and (max-width: 767px) {
  .about__boxes {
    grid-template-columns: repeat(2, 1fr);
  }
}
