.blocks__container {
  overflow-y: auto;
  position: relative;
  padding-right: 0.5rem;
  padding-bottom: 1rem;
}

.blocks__container::-webkit-scrollbar {
  width: 0.5rem;
}

.blocks__container::-webkit-scrollbar-track {
  background-color: #dedeea;
  border-radius: 1rem;
}

.blocks__container::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: var(--first-color);
}

.blocks__container .grid {
  grid-template-columns: repeat(3, 1fr);
  gap: 1.875rem;
}

@media screen and (max-width: 1199px) {
  .blocks__container {
    height: 57vh;
  }

  .blocks__container .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .blocks__container {
    height: 38vh;
  }

  .blocks__container .grid {
    grid-template-columns: 12fr;
  }
}
